*{
    font-family: 'Montserrat', sans-serif;
}

body {    
    height: 100%;
    background-image: url("images/bg1.jpg");
    background-size: cover;
}

.fab{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: black;   
}

.far{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: black;  
}

.fas{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: black;  
}

span{
    font-size: 22px;
}

.contactdetails{
    padding-left: 100px;
    padding-right: 100px;
    
}

.contactform{
    padding-top: 20px;
}

h2{
    color: black;
}

input[type=text], select, textarea {
    width: 40%; 
    padding: 8px;
    border: 1px solid black; 
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
  }

input[type=email]{
    width: 40%; 
    padding: 8px;
    border: 1px solid black; 
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
  }

textarea{
    width: 80%
}
  
input[type=submit] {
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
  }

input[type=submit]:hover {
    background-color: black;
  }
  
.container {   
    background-color:transparent;
    padding-top: 80px;
  
  }