*{
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
        
}

body {    
    height: 100%;
    background-image: url("images/bg.jpg");
    background-size: cover;
}

h1{
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 60px;
}

.home {    
    background-size: cover;
    height: 100%;
    padding-top: 20px;
}

